/* GLOBAL */
/* 
html {
  background-color: #6b705c;
}

.body {
  background-color: #6b705c;
} */

/* __________________________________________________________________________ */
/* __________________________________________________________________________ */

.container{
  height: 90vh;
}

.showContainer{
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.shows {
  width: 250px;
  text-align: center;
}

.shows:hover {
  background-color: #a5a58d;
  cursor: pointer;
  transition: 0.5s;
}

.modalContent {
  display: flex;
  flex-direction: column;
}

.modalImg{
  align-self: center;
}