/* GLOBAL */
/* 
html {
  background-color: #6b705c;
}

.body {
  background-color: #6b705c;
} */

/* __________________________________________________________________________ */
/* __________________________________________________________________________ */

/* MAIN */

.container{
  height: 90vh;
}

/* __________________________________________________________________________ */
/* __________________________________________________________________________ */

/* SHOWS  */

.showContainer{
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.shows {
  width: 250px;
  text-align: center;
}

.shows:hover {
  background-color: #a5a58d;
  cursor: pointer;
  transition: 0.5s;
}

/* __________________________________________________________________________ */
/* __________________________________________________________________________ */

/* MODAL */
.modalContent {
  display: flex;
  flex-direction: column;
}

.modalImg{
  align-self: center;
}

/* __________________________________________________________________________ */
/* __________________________________________________________________________ */

/* LIST */

.listName{
  border-right: none;
  width: 100%;
}

.listTitles {
  width: 90%;
}

/* __________________________________________________________________________ */
/* __________________________________________________________________________ */

.rating {
  width: fit-content;
}