html {
  background-color: #6b705c;
}

.body {
  background-color: #6b705c;
}

.navbar {
  background-color: #fca311 !important;
}

.container{
  height: 90vh;
}

.showContainer{
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.series {
  width: 250px;
  text-align: center;
}

.series:hover {
  background-color: #a5a58d;
  cursor: pointer;
  transition: 0.5s;
}

.modalShowSummary {
  text-align: start;
}
